header, footer {
    background-color: #C06C84;
    background-image: linear-gradient(#163957, #C06C84);

    color: #F8B195;
    text-align: center;
}

nav {
    background-color: #6C5B7B;
}

p::first-letter{
    color: #C06C84;
    font-size: xx-large;
}


a:link
{
    color: #ffc011;
}

nav a {
    display: inline;
    color: #F8B195;
    padding: 8px 16px;
    text-decoration: none;
}

nav a:hover:not(.active) {
    background-color: #355C7D;
    color: #ffc011;
}

nav a.active{
    background-color: #C06C84;
    background-image: linear-gradient(#163957, #C06C84);
    color:#ffc011;
}

body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat ;
    background-color: #355C7D;
    background-size: cover;
    background-position: center;
    color: #F8B195;
}


h1 {
    border: 2px solid #6C5B7B;

}

body>h1:hover{
    width: 600px;
    transition-timing-function: ease;
}

article h3 {
    text-shadow: 2px 2px 5px #C06C84;
}

#hAnimat{
    position: relative;
    animation-name: animatie;
    animation-duration: 6s;
    animation-iteration-count: 2;
    animation-direction: alternate-reverse;
}

@keyframes animatie {
    0% { left:0px; top:0px;}
    25%{left:100px;top:0px;}
    50%{left: 200px;top:0px;}
    75%{left: 300px;top:0px;}
    100%{left:0px;top:0px;}
}

#h2despre:hover{
    transform: scaleX(0.5);
}

tr:hover {
    background-color: #6C5B7B;
}

table, td {
    border: 1px solid #6C5B7B;
    padding: 2px;
    text-align: center;
}

input {
    background-color: #6C5B7B;
    color: #F8B195;
    size: 15px;
    text-align: center;
    transition: width 0.4s ease-in-out;
}

input:focus {
    background-color: #355C7D;
    width: 100%;
}

textarea, select {
    background-color: #6C5B7B;
    color: #F8B195;
}


form {
    border: #6C5B7B;
}



#grad1 {
    background-color: #355C7D;
    background-image: url("../images/video-background.jpg");
    background-size: cover;
    background-position: center;
  }

  ::selection{
      color:#F8B195;
      background:#6C5B7B ;
  }

@media screen and (max-width: 670px) {
    nav a {
      float: none;
      display: block;
      width: 100%;
    }

    div.flex-container{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    #formLoto{

        width: 100% ;
    
    }

    #formLoto input{
        text-align: left;
        font-size: 12px;
        padding: none;
        width: 100%;
    }

   #plansa {
        width: 100%;
       
        
    }
    
    
}

.flex-container{
    display: flex;
    background-color: #6C5B7B;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
}

#meniuaside a:link{
    color:#F8B195;
    text-decoration: none;
    font-size: large;
}

#meniuaside a:visited{
    color:#F8B195;
    text-emphasis: none;
}

#meniuaside {

    text-align: center;
    
}

#s2 button, #s4 button{
    background-image: linear-gradient(#163957, #C06C84);
    color: #F8B195;
    border-color: #F8B195;
    font-size: 16px;
}

#numereLoto{
    font-size: 20px;
    text-align: left;
}

#formLoto input{
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: left;
}

section :not(h2) {
    text-align: center;
}

#numereNimerite {
    font-size: 25px;
}

#s3 div, #s4 div{
    text-align: left; 
}

canvas {
    border: 1px solid #000000;
    background-color: white;
}

#s4 table, th, td {

    border: 1px solid #6C5B7B;
    padding: 2px;
    text-align: center;
}

#s4 tr:hover{
    background-color: initial;
}

#poz:focus, #culoareCelula:focus {
    width: 30%;
}